
name: Gerar Gráfico de Contribuição Pac-Man

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - name: Gerar animação Pac-Man
        uses: Platane/snk@v3
        with:
          github_user_name: joaopaulo-BDev
          outputs: |
            dist/pacman-contribution-graph.svg

      - name: Publicar no branch output
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
       env:
  GITHUB_TOKEN: ${{ secrets.pat_token }}
