
name: Generate Pacman Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - name: Gerar cobrinha
        uses: Platane/snk@v3
        with:
          github_user_name: SEU_USUARIO_GITHUB
          outputs: |
            dist/pacman-contribution-graph.svg

      - name: Publicar no branch output
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

